# ========================================
# Hire1Percent Assessment Service
# Environment Configuration
# ========================================

PORT=5006
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/hire1percent-assessment-service
LOG_LEVEL=debug
