# ========================================
# Hire1Percent Admin Service
# Environment Configuration
# ========================================

PORT=5005
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/hire1percent-admin-service
LOG_LEVEL=debug
