# ========================================
# Hire1Percent Notification Service
# Environment Configuration
# ========================================

PORT=5009
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/hire1percent-notification-service
LOG_LEVEL=debug
