# ========================================
# Hire1Percent Analytics Service
# Environment Configuration
# ========================================

PORT=5012
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/hire1percent-analytics-service
LOG_LEVEL=debug
