# ========================================
# Hire1Percent Ai Service
# Environment Configuration
# ========================================

PORT=5011
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/hire1percent-ai-service
LOG_LEVEL=debug
